* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
}

.descTop {
    display: inline-block;
    position: relative;
    justify-content: center;
    
}

.descTop p {
    padding: 10px;
    position: absolute;
    margin-top: 30px;
    margin-left: 10px;
    border: none;
    border-radius: 50px;
    background-color: rgb(111, 111, 111);
    color: #fff;
}

.meioDesc {
    margin-top: 50px;
    margin-left: 140px;
    font-size: 20px;
}

.meioCombo {
    margin-top: 270px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 15px;
    width: 420px;
}

.meioCombo h1 {
    margin-top: 20px;
    margin-left: 20px;
}

.meioCombo p {
    margin-left: 20px;
}

/* AMOSTRA DOS PRODUTOS*/

.descProdutos {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 30px;
    height: auto;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 0.8px;
    margin-bottom: 10px;
}


.caixa a {
    display: flex;
    text-decoration: none;
    color: black;
}

.descProdutos img {
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px;
}

.caixa h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    padding: 10px;
}

.caixa p {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    padding: 10px;
}